.input {--color: #000000;
}

ion-title {--color: #000000;
}

.signinbtn {
width: auto;
padding: 0px 150px;
text-align: center;
}

.sgnup {
    width: auto;
    padding: auto;
    text-align: center;
}

.icon {
    width: auto;
    padding: auto;
    text-align: center;
    }

.enteryourinfo{
    text-align: center;
}