
<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<div class="icon">
  <img src="assets/icon1.png" width="450">
</div>

<div class="enteryourinfo">
  <ion-card-content>
      <ion-title>Enter Your Information</ion-title>
</ion-card-content>
</div>

<ion-list>
  <ion-item class="input">
    <ion-input label="Username" placeholder="Enter Here..."></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-input type="password" label="Password" placeholder="Enter Here..."></ion-input>
  </ion-item>
</ion-list>

<div class="signinbtn">
<ion-button href="/dashboard" color="success" click="logmein()">
  Login
</ion-button>
</div>
<span class="sgnup"><a href="/signup">Sign Up?</a></span>
<br>
