<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-button class="signoutbtn" size="small" color="danger" href="/login">Sign Out</ion-button>
      <ion-title class="ion-text-center">Book Massage</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

<ion-list>
<ion-grid>
  <ion-col class="ion-text-center">

<br>
<ion-button href="/viewappointment" color="success" style="width: 100%">View Appointment</ion-button>
<br>
<br>
<br>
<ion-button color="success" style="width: 100%">Pending Appointment</ion-button>
<br>
<br>
<br>
<ion-button color="success" style="width: 100%">Appointment Approval</ion-button>
<br>
<br>
<br>
<ion-button color="success" style="width: 100%">Manage Therapist</ion-button>
<br>
<br>
<br>
<ion-button color="success" style="width: 100%">Data Reports</ion-button>
<br>
<br>
<br>
<ion-button color="success" style="width: 100%">Feedback</ion-button>

  </ion-col>
</ion-grid> 
</ion-list>

  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <ion-content class="ion-text-center"> <img src="assets/icon1.png" alt="book-massage" width="700"> 
    <h1>Contents Here</h1> 
    <h2>Contents here</h2>
    <p>Enter your paragraphs here</p> 
  </ion-content>
</div>

