.admin {
  width: 100px;
  text-align: center;
  }

.therapist {
  width: 100px;
  text-align: center;
}

.client {
  width: 100px;
  text-align: center;
  }

.container{
text-align: center;
padding: 65px;
background-color: rgb(241, 241, 241);
}

.icon {
  width: auto;
  padding: auto;
  text-align: center;
  }

.plsselect{
text-align: center;
}